body{
  font-family:'微软雅黑'
}
.highlight{
  color:orange;
  background-color: #F5F5F5;
  margin:0px 5px;
  display: inline-block;
}
.annotation{
  color: #ADADAD;
  font-size: 12px;
}
.stronge{
  font-weight: bold;
}
.explain{
  padding: 10px 30px;
  border:1px solid black;
}
.code{
  margin:  20px;
}
.red{
  color:red;
}
h3{
  color: green;
}
.backgroundRed{
  background: red;
}
.backgroundWheat{
  background: wheat;  
}
.border1{
  border: 1px solid black;
}
.width300{
  width: 300px;
}
.width200{
  width: 200px;
}
.width100{
  width: 100px;
}
.hight200{
  hight:200px;
}
.hight100{
  hight:100px;
}
